{% extends "admin/common/app.html" %}

{% block content %}
    <div class="admin-content-body">
        <div class="page-header">
            <ol class="am-breadcrumb am-breadcrumb-slash">
                <li><a href="/admin">首页</a></li>
                <li>项目列表</li>
            </ol>
        </div>

        <div class="page-body">
            <div class="am-g">
                <form class="am-form am-form-horizontal">
                    <div class="am-u-sm-12 am-u-md-4">
                        <div class="am-form-group">
                            <label for="title" class="am-u-sm-2 am-form-label">名称</label>
                            <div class="am-u-sm-10">
                                <input type="text" name="keyword" placeholder="请输入项目名称" value="">
                            </div>
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u-md-8">
                        <div class="am-form-group search-buttons">
                            <button class="am-btn am-btn-primary" type="submit">查 询</button>
                            <button class="am-btn am-btn-default" type="button"
                                    onclick="location.href='/admin/project'">重 置
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="am-g">
                <div class="am-u-sm-12">
                    <div class="am-btn-toolbar">
                        <div class="">
                            <button type="button" onclick="location.href='/admin/project/create'"
                                    class="am-btn am-btn-primary"><span class="am-icon-plus"></span>
                                新增
                            </button>
                            <button type="button" class="am-btn am-btn-default destroy_checked">
                                <span class="am-icon-trash-o"></span> 删除
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            {% include "admin/common/shared/_flash.html" %}

            <div class="am-g am-g-collapse">
                <div class="am-u-sm-12">
                    <form class="am-form">
                        <table class="am-table am-table-hover table-main">
                            <thead>
                            <tr>
                                <th class="table-check"><input type="checkbox" id="checked_all"/></th>
                                <th class="table-id">ID</th>
                                <th class="table-title">名称</th>
                                <th class="table-type">缩略图</th>
                                <th class="table-type">所属类型</th>
                                <th class="table-type">所属区域</th>
                                <th class="table-type">规模</th>
                                <th class="table-type">业主单位</th>
                                <th class="table-type">服务范围</th>
                                <th class="table-type">创建时间</th>
                                <th class="table-set">操作</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for project in projects %}
                                <tr>
                                    <td><input type="checkbox" class="checked_id" name="checked_id"
                                               value="{{ project.id }}"/></td>
                                    <td>{{ project.id }}</td>
                                    <td><a href="javascript:;">{{ project.name }}</a></td>
                                    <td>
                                        <img src="{{ project.image }}" alt="" class="thumb">
                                    </td>
                                    <td class="am-hide-sm-only">{{ project.type.name }}</td>
                                    <td class="am-hide-sm-only">{{ project.area.name }}</td>
                                    <td>{{ project.scale }}</td>
                                    <td>{{ project.unit }}</td>
                                    <td>{{ project.service }}</td>
                                    <td>{{ project.create_time|strftime }}</td>
                                    <td>
                                        <a href="/admin/project/edit/{{ project.id }}">编辑</a>
                                        <div class="divider divider-vertical"></div>
                                        <a href="/admin/project/delete/{{ project.id }}">删除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="am-cf">
                            共 {{ paginate.total }} 条记录
                            <div class="am-fr">
                                <ul class="am-pagination">
                                    {% if paginate.has_prev %}
                                        <li class="am-disabled"><a
                                                href="/admin/project/?page={{ paginate.prev_num }}">«</a></li>
                                    {% endif %}
                                    {% for i in paginate.iter_pages() %}
                                        <li><a href="/admin/project/?page={{ i }}">{{ i }}</a></li>
                                    {% endfor %}
                                    {% if paginate.has_next %}
                                        <li><a href="/admin/project/?page={{ paginate.next_num }}">»</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(function () {
            $('#checked_all').click(function () {
                $(':checkbox').prop("checked", this.checked);
            })

            $('.destroy_checked').click(function () {
                var length = $('.checked_id:checked').length;
                if (length == 0) {
                    alert('您至少要选中一条数据');
                    return false;
                }

                var checked_ids = new Array();
                $("input[name='checked_id']:checked").each(function () {
                    checked_ids.push($(this).val())
                });

                if (confirm('是否确定要删除？')) {
                    $.ajax({
                        type: 'DELETE',
                        url: "/admin/project/destroy_checked",
                        data: {checked_ids: checked_ids.toString()},
                        dataType: 'json',
                        success: function (data) {
                            {#console.log(data)#}
                            if (data.status == 1) {
                                alert(data.msg);
                                $('.checked_id:checked').each(function () {
                                    $(this).parents('tr').remove();
                                })
                            }
                        }
                    })
                }
            })
        })
    </script>
{% endblock %}