{% extends "home/common/app.html" %}

{% block content %}
    <div class="pz_main">
        <div class="w_1200">
            <div class="c_1200_5">
                <div class="dz"><a href="http://www.techbimu.com/">首页</a> &gt; <a href="http://www.techbimu.com/type/1"
                                                                                  target="_self">项目</a> &gt; 类型
                </div>
                <div class="d_1200_1">
                    <div class="al">
                        <div id="slideBox" class="slideBox">
                            <div class="bd">
                                <ul style="position: relative; width: 809px; height: 456px;">

                                    {% for gallery in galleries %}
                                        <li style="position: absolute; width: 809px; left: 0px; top: 0px; display: none;">
                                            <img src="{{ gallery.imgs }}" width="809" height="453">
                                        </li>
                                    {% endfor %}

                                </ul>
                            </div>

                            <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                            <a class="prev" href="javascript:void(0)"></a>
                            <a class="next" href="javascript:void(0)"></a>
                        </div>

                    </div>
                    <div class="al2">
                        <div id="content2">
                            <div class="al2_1">
                                <div class="t_a12_1">
                                    <div class="z1">{{ project.name }}</div>

                                </div>
                                <div id="c1" class="d_a12_1" style="display:block;">
                                    <p style="text-align: left; text-indent: 2em;"><span
                                            style="color: rgb(51, 51, 51); font-family: arial, helvetica,sans-serif; font-size: 12px;"></span>
                                    </p>
                                    <p style="text-align: left; line-height: 20px; margin-top: 0px; margin-bottom: 0px; vertical-align: baseline; unicode-bidi: embed; direction: ltr;">
                                    <span style="color: rgb(0, 0, 0); font-size: 12px;"><span
                                            style="font-family: 微软雅黑; font-size: 12px; font-weight: bold;">项&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;目：</span><span
                                            style="font-family: 微软雅黑; font-size: 12px;">{{ project.name }}</span></span>
                                    </p>
                                    <p style="text-align: left; line-height: 20px; margin-top: 0px; margin-bottom: 0px; vertical-align: baseline; unicode-bidi: embed; direction: ltr;">
                                    <span style="color: rgb(0, 0, 0); font-size: 12px;"><span
                                            style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-weight: bold;">项目类型：</span><span
                                            style="color: rgb(0, 0, 0); font-family: 微软雅黑;">{{ project.type.name }}</span> &nbsp;</span>
                                    </p>
                                    <p style="text-align: left; line-height: 20px; margin-top: 0px; margin-bottom: 0px; vertical-align: baseline; unicode-bidi: embed; direction: ltr;">
                                    <span style="color: rgb(0, 0, 0); font-size: 12px;"><span
                                            style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-weight: bold;">服务范围：</span><span
                                            style="color: rgb(0, 0, 0); font-family: 微软雅黑;">{{ project.service }}</span></span>
                                    </p>
                                    <p style="text-align: left; line-height: 20px; margin-top: 0px; margin-bottom: 0px; vertical-align: baseline; unicode-bidi: embed; direction: ltr;">
                                    <span style="color: rgb(0, 0, 0); font-size: 12px;"><span
                                            style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-weight: bold;">业主单位：</span><span
                                            style="color: rgb(0, 0, 0); font-family: 微软雅黑;">{{ project.unit }}</span></span>
                                    </p>
                                    <p style="text-align: left; line-height: 20px; margin-top: 0px; margin-bottom: 0px; vertical-align: baseline; unicode-bidi: embed; direction: ltr;">
                                    <span style="color: rgb(0, 0, 0); font-size: 12px;"><span
                                            style="color: rgb(0, 0, 0); font-family: 微软雅黑;"><br></span></span>
                                    </p>

                                    <p style="text-align: left; line-height: normal; text-indent: 0em;">
                                        <span style="color: black; font-family: arial, helvetica,sans-serif; font-size: 12px;"></span>
                                        {{ project.description|safe }}
                                    </p>
                                    <p style="line-height: normal;">&nbsp;</p>
                                </div>
                                <div class="cq"><a href="http://www.techbimu.com/type/1">返回</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c_1200_6" style="padding-bottom:30px;">
                <div class="t_1200">项目</div>
                <div class="d_1200">
                    <ul>
                        {% for other in other_projects %}
                            <li>
                                <div class="img"><a href="http://www.techbimu.com/22"><img
                                        src="{{ other.image }}"
                                        width="236"
                                        height="134"></a>
                                    <div class="pf"></div>
                                </div>
                                <div class="z1"><a href="http://www.techbimu.com/22">{{ other.name }}</a></div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(
            function () {
                $.foucs({direction: 'left'});

                $(".d_1200 li").mouseover(function () {
                    $(this).find(".z1 a").css("color", "#737578")
                });
                $(".d_1200 li").mouseout(function () {
                    $(this).find(".z1 a").css("color", "#585858")
                });

                $(".wx .z3").mouseover(function () {
                    $(this).find(".pf").show();
                });
                $(".wx .z3").mouseout(function () {
                    $(this).find(".pf").hide();
                });
            });

        jQuery(".slideBox").slide({
            mainCell: ".bd ul",
            autoPlay: true,
            effect: "fold",
            delayTime: 1500,
            interTime: 6000
        });
        $("#nav2").addClass("on");
    </script>
{% endblock %}
