<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>必慕科技：一流的BIM咨询团队</title>
    <meta name="keywords" content="必慕科技">
    <meta name="description" content="必慕科技">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="icon" type="image/png" href="http://www.techbimu.com/111.png">
    <link href="{{ url_for('static', filename='home/assets/css/Style.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='home/assets/css/iconfont.css') }}">
    <link href="{{ url_for('static', filename='home/assets/css/foucs.css') }}" rel="stylesheet">
</head>
<body>

<div class="pz_top">
    <div class="w_1200">
        <div class="c_1200_1">
            <div class="logo">
                <a href="/"
                   style="width: 271px;height: 92px;display: block;position: relative;top: 10px;">
                    <img style="width: 130%;position: absolute;bottom: 7px;" src="/static/home/assets/images/logo.png">
                </a>
            </div>
            <div class="r_625">
                <div class="wx">
                    <div class="z1">
                        <p>
                            <a href="http://www.techbimu.com/contact" target="_blank"></a>
                            <img src="http://www.techbimu.com/" width="1" height="15">
                        </p>
                    </div>
                    <div class="z2">
                        <p>
                            <a href="http://www.techbimu.com/contact" target="_blank"></a>
                            <img src="http://www.techbimu.com/" width="1" height="15">
                        </p>
                    </div>
                    <div class="z3">
                        <a href="http://www.techbimu.com/#"></a>
                        <div class="pf" style="display:none;">
                            <p>
                                <img src="{{ url_for('static', filename='home/assets/images/weixinma.jpeg') }}"
                                     width="117" height="136"
                                     title="jye_03.jpg">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="jh">
                    <div class="menu">
                        <ul>
                            <li id="nav1" class="nli on">
                                <div class="rb"><a id="cntit1" href="http://www.techbimu.com/">首页</a>
                                </div>
                            </li>

                            <li id="nav2" class="nli">
                                <div class="rb"><a id="cntit2" href="http://www.techbimu.com/type/1">项目</a></div>
                            </li>

                            <li id="nav6" class="nli">
                                <div class="rb"><a id="cntit2"
                                                   href="http://model.techbimu.com:808/account/Login?ReturnUrl=%2FHome%2FIndex">协同平台</a>
                                </div>
                            </li>

                            <li id="nav3" class="nli">
                                <div class="rb"><a id="cntit3" href="http://www.techbimu.com/consult">咨询服务</a></div>
                            </li>

                            <li id="nav4" class="nli">
                                <div class="rb"><a id="cntit4" href="http://www.techbimu.com/training">培训服务</a></div>
                            </li>

                            <li id="nav5" class="nli">
                                <div class="rb"><a id="cntit5" href="http://www.techbimu.com/about">关于我们</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pz_main">
    <div class="w_1200">
        <div class="banner">
            <div class="pz_slides_3">
                <div class="_btn">
                    <ul>
                        <li class=""></li>
                        <li class=""></li>
                        <li class="on"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="_pic">
                    <ul class="img_box" style="position: relative; width: 1200px; height: 600px;">

                        {% for project in projects %}
                            <li style="position: absolute; width: 1200px; left: 0px; top: 0px; display: none;">
                                <a href="/show/{{ project.id }}"><img src="{{ project.image }}" width="1200" height="600"></a>
                                <div class="pf2">
                                    <div class="z1"><strong>项目:</strong>{{ project.name }}
                                        <br><strong>类型:</strong>{{ project.type.name }}
                                    </div>
                                    <div class="z2"><strong>地点:</strong>{{ project.area.name }}
                                        <br><strong>规模:</strong>{{ project.scale }}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
                <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                <a class="prev" href="javascript:void(0)"></a>
                <a class="next" href="javascript:void(0)"></a>
            </div>

        </div>
        <div class="c_1200_2">
            <div class="t_1200">项目</div>
            <div class="d_1200">
                <ul class=" list-paddingleft-2">

                    {% for type in types %}
                        <li>
                            <div class="z1"><a href="http://www.techbimu.com/type/1">{{ type.name }}</a></div>
                            <div class="img">
                                <a href="http://www.techbimu.com/type/1" style="display: block" width="275"
                                   height="102">
                                    <img width="100%" title="arc.jpg"
                                         src="{{ type.image }}">
                                </a>
                                <div class="pf3">
                                    <a href="http://www.techbimu.com/type/1">
                                        <img width="275" height="102" src="/static/home/assets/images/nh_03.png"></a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}

                </ul>
            </div>

        </div>
        <div class="c_1200_3">
            <div class="t_1200">
                <div class="z1">培训服务</div>
                <div class="z2"><a href="http://www.techbimu.com/training">more</a></div>
            </div>
            <div class="d_1200">
                <ul>
                    <li>
                        <div class="img"><a href="http://www.techbimu.com/train_detail/8"><img
                                src="/static/home/assets/images/N4lZ5JrvuUPpJZtyEqMHdyTUXT3Psy9lFcFTfjB7.png"
                                width="210"
                                height="110"></a></div>
                        <div class="z1">
                            <div class="z_1"><a href="http://www.techbimu.com/train_detail/8">
                                <nobr>【BIM好课】2021BIM实战基础寒假训练营</nobr>
                            </a></div>
                            <div class="z_2"><a href="http://www.techbimu.com/train_detail/8">会软件会建模持有证书的越来越多用人单位招聘越来越难，薪资越来越高达到项目实战要求的人依然太少放假虽早，择业就业依旧迷茫/static/static/static必慕科技8天的寒假精品实战基础课程100+咨询项目/static.</a>
                            </div>
                            <div class="z_3">20.12.2020</div>
                        </div>
                    </li>
                    <li>
                        <div class="img"><a href="http://www.techbimu.com/train_detail/7"><img
                                src="/static/home/assets/images/nmTW9uCBrpaUPAwayHODAvAQTKgxT1fvdeGOAN5T.jpeg"
                                width="210"
                                height="110"></a></div>
                        <div class="z1">
                            <div class="z_1"><a href="http://www.techbimu.com/train_detail/7">
                                <nobr>第十六期全国BIM技能等级考试工作全部结束</nobr>
                            </a></div>
                            <div class="z_2"><a href="http://www.techbimu.com/train_detail/7"></a></div>
                            <div class="z_3">01.12.2020</div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="pz_down">
    <div class="w_1200">
        <div class="c_1200_4">
            <div class="z1"><p>COPYRIGHT©️武汉必慕智联科技工程有限公司 版权所有<a href="https://beian.miit.gov.cn/" target="_blank">鄂ICP备16006524号-1</a>
            </p></div>
            <div class="z2"><a href="http://www.techbimu.com/" target="_blank">Powered By Holy</a></div>
        </div>
    </div>
</div>


<script src="/static/home/assets/js/jquery.min.js"></script>
<script src="/static/home/assets/js/jquery.SuperSlide.2.1.1.js"></script>
<script src="/static/home/assets/js/html5.js"></script>
<script src="/static/home/assets/js/jquery.foucs.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(
        function () {
            $.foucs({direction: 'left'});

            $(".d_1200 li").mouseover(function () {
                $(this).find(".z1 a").css("color", "#737578")
            });
            $(".d_1200 li").mouseout(function () {
                $(this).find(".z1 a").css("color", "#585858")
            });

            $(".wx .z3").mouseover(function () {
                $(this).find(".pf").show();
            });
            $(".wx .z3").mouseout(function () {
                $(this).find(".pf").hide();
            });
        });
</script>
<script>
    $(document).ready(
        function () {
            $(".d_1200 li").mouseover(function () {
                var _en = $(this).find(".z1 a").attr("_en");
                $(this).find(".z1 a").html(_en);
                // $(this).find(".z1 a").css("color", "#2aa8e2");
                $(this).find(".z1 .z_2 a").css("color", "#999999");
            });

            $(".d_1200 li").mouseout(function () {
                var _cn = $(this).find(".z1 a").attr("_cn");
                $(this).find(".z1 a").html(_cn);
                $(this).find(".z1 a").css("color", "#585858");
                $(this).find(".z1 .z_2 a").css("color", "#999999");
            });
        });

    var s_count = $(".pz_slides_3 ._pic img").length;
    var s_li = "";
    for (j = 1; j <= s_count; j++) {
        s_li += "<li></li>";
    }
    $(".pz_slides_3 > ._btn").html("<ul>" + s_li + "</ul>");
    jQuery(".pz_slides_3").slide({
        titCell: "._btn li",
        mainCell: "._pic ul",
        effect: "fold",
        autoPlay: true,
        delayTime: 1500,
        interTime: 6000
    });
    $("#nav1").addClass("on");
</script>
</body>
</html>